<div class="jumbotron">
  <div class="container">
    <h1>H.S. Reach</h1>
    <p>We'll help you figure out the Chicago high school application process</p>
  </div>
</div>


<h2>First, tell us a bit about how you've been doing in 7th grade</h2>
<h3><small>If you're not in 7th grade yet, just put in the scores you expect</small></h3>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal" action="/results">
      <div class="form-group">
        <label for="nwea_math" class="col-sm-5 control-label">NEWA Math</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="nwea_math" id="nwea_math" placeholder="88">
        </div>
      </div>
      <div class="form-group">
        <label for="nwea_reading" class="col-sm-5 control-label">NWEA Reading</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="nwea_reading" id="nwea_reading" placeholder="74">
        </div>
      </div>
      <div class="form-group">
        <label for="reading" class="col-sm-5 control-label">Reading</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="reading" id="reading" placeholder="A">
        </div>
      </div>
      <div class="form-group">
        <label for="math" class="col-sm-5 control-label">Math</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="math" id="math" placeholder="A">
        </div>
      </div>
      <div class="form-group">
        <label for="science" class="col-sm-5 control-label">Science</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="science" id="science" placeholder="A">
        </div>
      </div>
      <div class="form-group">
        <label for="social_studies" class="col-sm-5 control-label">Social Studies</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="social_studies" id="social_studies" placeholder="B">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


